* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container p {
  float: left;
  font-size: 32px;
  margin: 7vh 10vw;
}

.form-section {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-right: 4vw;
  width: 35vw;
  margin-top: 7vh;
}

.form-section span {
  font-size: 32px;
}

.form-outer-container {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 34vw;
  height: 58vh;
  padding: 6.7%;
  margin-top: 4%;
  box-shadow: 3px 3px #bdb6b6;
}

.form-inner-container {
  margin-left: 1.7%;
}

.form-inner-container input {
  width: 28vw;
  height: 5vh;
  margin: 4% 0;
  border: none;
}

.form-inner-container input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.btn-signup {
  border-radius: 5%;
  background: #a91010;
  color: #ffff;
  font-size: large;
  border: 0;
  padding: 10px 30px 10px 30px;
  margin-left: 1.7%;
}

.btns>a{
  border-radius: 5%;
  padding: 10px 30px 10px 30px;
  background: #a91010;
  color: #ffff;
  font-size: 18px;
  border: 0;
  margin-top: 20px;
  margin-left: 1.7%;
  text-decoration: none;
}

.bkg {
  position: absolute;
  background-image: url("images/mover.jpg");
  height: 80vh;
  width: 99vw;
  background-size: cover;
  margin-top: 40vh;
  z-index: -1;
}

#lsignup {
  display: none;
}

#btn2 {
  float: left;
}

#btn3 {
  float: right;
  margin-right: 1.7%;
}
.cards{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.cards:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.column {
  float: left;
  width: 25%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: ;
}
.row {margin: 0 -5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  size:0.5em;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}